body {
    background:#121212 ; 
    font-family: "Bebas Neue", sans-serif;
}
a {
    text-decoration: none;
}
a:link {
    color: white;
}
a:visited {
    color: white;
}
a h3:visited {
    color: white;
}
header {
    background-color: transparent;
    display: flex;
    align-items: center;
}
.logo img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50px;
}
.search-container {
    display: flex;
    width: 565px;
    height: 50px;
    align-items: center;
    background-color: transparent;
    border: 1px solid #cccccc00;
    padding: 5px 10px;
    margin-left: 30px;
}
.search-container input {
    padding: 5px;
    margin-right: 5px;
    background-color: transparent;
    border: none;
    outline: none;
    flex-grow: 1;
    font-size: 20px;
    color: white;
    border-bottom: 2px solid #8D38C9;
    font-family: "Bebas Neue", sans-serif;
    font-size: 24px;
    font-style: normal;
    letter-spacing: 1px;
}
.search-container button {
    background-color: transparent;
    color: #ffffff;
    padding: 0.85rem;
    border: none;
    cursor: pointer;
    object-fit: fill;
    align-items: center;
    font-size: 20px;
}
.search-container i {
    margin-right: 5px;
}
.buttons {
    display: flex;
    margin-left: 10px;
    gap: 20px;
}
.menu-button {
    background-color: transparent;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    position: relative;
    font-size: 24px;
    font-style: normal;
    font-family: "Bebas Neue", sans-serif;
}
.menu-button:hover {
    color: #8D38C9;
}
.menu-button:hover::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #8D38C9;
}
.menu-button-active {
    background-image: linear-gradient(to bottom, #8D38C9, #121212);
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    position: relative;
    font-size: 24px;
    font-style: normal;
    font-family: "Bebas Neue", sans-serif;
}
.menu-button-active:hover {
    color: #121212;
}
.menu-button-active:hover::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #8D38C9;
}
.proflie {
    margin-left: auto;
}
.proflie img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: fill;
}
.wallpaper::before {
    content: '';
    position: absolute;
    width: 90%;
    height: 90%;
    background-image: url('/IMG/backgroundlogin2.png');
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(5px);
    z-index: -1;
}
.forgot-password-container {
    background-color: #060606;
    color: #ffffff;
    border-radius: 8px;
    border: #000000 solid 1px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 40px;
    width: 350px;
    height: 700px;
    margin-left:  auto;
    margin-right: 10px;
    flex-grow: 1;
    border-top-left-radius:0px ;
    border-bottom-left-radius:0px ;
}
.forgot-password-container h2 {
    text-align: center;
    margin-bottom: 20px;
}
.form-email {
    margin-bottom: 20px;
    position: relative;
}
.form-email label {
    display: block;
    margin-bottom: 5px;
}
.form-email input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    outline: none; 

}
.form-group{
    margin-bottom: 20px;
    position: relative; 
}
.form-group label {
    display: block;
    margin-bottom: 5px;
}
.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    border-top-left-radius:4px ;
    border-bottom-left-radius:4px ;
    outline: none; 
}
.form-group button {
    background-color: #ffffff;
    color: #000000;
    padding: 10px ;
    font-size: large;
    border: none;
    cursor: pointer;
    width: auto;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    transform: translate(-1.05px);
}
.form-otp-button button {
    background-color: #8D38C9;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}
.form-otp-button :hover {
    background-color: #ffffff;
    color: #8D38C9;
}
.login-link{
    text-align: center;
    margin-top: 10px;
}
.login-link :hover{
    color: #8D38C9;
}
button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
footer {
    background: linear-gradient( to top, #8D38C9, #ffffff00);
    color: white;
    height: 405px;
    font-size: 24px;
    font-style: normal;
    margin-top: auto;
}
.flex_1 {
    display: flex;
    justify-content: space-between;
}
.icon_left {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px 0 0 30px;
}
.phon-flex,.mail-flex {
    display: flex;
    align-items: center;
    gap: 10px;
}
.phon-flex:hover {
    color: #8D38C9;
}
.mail-flex:hover {
    color: #8D38C9;
}
.phon-flex img,.mail-flex img {
    width: 70px;
    height: 70px;
}
.phon-flex a,.mail-flex a {
    font-size: 18px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.phon-flex img,.mail-flex img {
    border-radius: 50%;
    border: 2px solid #8C52FF;
    object-fit: cover;
}
.text_contact {
    font-size: 20px;
}
.icon_Contact_us {
    display: flex;
    padding-top: 5px;
    margin-right: 100px;
    gap: 16px;
}
.more-info {
    align-items: center;
}
.info-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    font-size: 20px;
    padding: 20px;
    margin-top: 50px;
    gap: 50px;
}
.info-1 p:hover {
    color: #000000;
}
.info-2 p:hover {
    color: #000000;
}
.info-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    font-size: 20px;
    gap: 50px;
}